.product_card {
  width: 300px;
  /* max-width: 300px; */
  overflow: hidden;
  height: 500px;
  padding: 15px;
  box-shadow: 0 0 15px #ddd;
  margin: 10px 0;
  position: relative;
}
.product_card img {
  width: 100%;
  height: 300px;
  display: block;
  object-fit: cover;
}
/* Flashing */
.product_card img:hover {
  opacity: 1;
  -webkit-animation: flash 1.5s;
  animation: flash 1.5s;
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.product_box h2 {
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-transform: capitalize;
  cursor: pointer;
  color: #323232;
}
.product_card span {
  color: crimson;
}
.product_box p {
  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  height: 70px;
  overflow: hidden;
  color: #323232;
}
.row_btn {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.row_btn a {
  width: 50%;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 6px;
}
#btn_buy {
  background: #555;
  margin-right: 5px;
  text-align: center;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}
#btn_buy {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#btn_buy:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 5px;
  right: -20px;
  transition: 0.5s;
}

#btn_buy:hover {
  padding-right: 24px;
  padding-left: 8px;
}

#btn_buy:hover:after {
  opacity: 1;
  right: 10px;
}
#btn_view {
  background: teal;
  margin-left: 5px;
  text-align: center;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0, 0.7);
}
#btn_view {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

#btn_view:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 5px;
  right: -20px;
  transition: 0.5s;
}

#btn_view:hover {
  padding-right: 24px;
  padding-left: 8px;
}

#btn_view:hover:after {
  opacity: 1;
  right: 10px;
}
.product_card input {
  position: absolute;
  width: 25px;
  height: 25px;
}
